.app-wrapper{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
          "h h"
          "n b";
  grid-template-rows: 100px 1fr;
  grid-template-columns: 2fr 8fr;
  grid-gap: 5px;
}

.header {
  grid-area: h;
  background-color: aqua;
}
.header img{
  height: 100px;
}

.nav {
  grid-area: n;
  background-color: chartreuse;
}

.content {
  grid-area: b;
  background-color: darkgoldenrod;
}
.content img{
  width: 100%;
}
